


<div class="navb">
    <div class="row">
        <div class="col-md-12">
            <div class="brand">Activityhub</div>
            <ul class="links-left">
                <li>Welcome Name!</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<br>

<div class="activity-list">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Date and Time</th>
                        <th>Duration</th>
                        <th>Event Coordinator</th>
                        <th># of Participants</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <td><a href="/activity/1">Soccer in the park</a></td>
                    <td>4/14 at 3:00pm</td>
                    <td>2 Hours</td>
                    <td>Mike</td>
                    <td>6</td>
                    <td><a href="#">Delete</a></td>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="/new" class="btn btn-primary">+ New Activity</a>
    </div>
</div>