
<div class="navb">
    <div class="row">
        <div class="col-md-12">
            <div class="brand">Activityhub</div>
            <ul class="links-left">
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="single-activity">
    <div class="row">
        <div class="col-md-8">
            <h1>Squirtgun Fight</h1>
            <a href="#" class="btn btn-primary btn-lg">Join</a>
            
            <hr>

            <b>Event Coordinatior: </b> <p class="coordinator-name">Marky Mark</p>

            <b>Description: </b>
            <p class="activity-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam corporis excepturi doloribus aperiam, inventore ipsum ab quo. Eaque odit magnam commodi, sed, dolorem veritatis temporibus enim pariatur dolore similique, dolores impedit amet eligendi quo earum dolorum a in blanditiis assumenda.</p>

            <b>Participants</b>
            <ul class="participants">
                <li class="participant">Acool Person</li>
                <li class="participant">Paul Bunyun</li>
                <li class="participant">Frank Sinatra</li>
            </ul>

        </div>
    </div>
</div>