



<div class="navb">
    <div class="row">
        <div class="col-md-12">
            <div class="brand">Activityhub</div>
            <ul class="links-left">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>