@model IEnumerable<bbelt.Models.User>

<div class="navb">
    <div class="row">
        <div class="col-md-12">
            <div class="brand">Website</div>
            <ul class="links-left">
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <h1>Website</h1>
            <!--<a href="#">Register</a> |
            <a href="#">Login</a>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>All Users:</h2>
        @Model
        @foreach (var person in Model)
        {
            <p>@person.FirstName @person.LastName | @person.Email | @person.CreatedAt</p>
        }
    </div>
</div>